# Maintainer: Bematist Maintainers <maintainers@bematist.dev>
pkgname=bematist-bin
pkgver=@VERSION@
pkgrel=1
pkgdesc='Open-source AI-engineering analytics collector (prebuilt binary)'
arch=(@ARCH_TUPLE@)
url='https://bematist.dev'
license=('Apache-2.0')
provides=('bematist')
conflicts=('bematist')
@SOURCE_ARRAYS@

package() {
  install -Dm755 "${srcdir}/bematist-v${pkgver}-linux-${CARCH/x86_64/x64}" \
    "${pkgdir}/usr/bin/bematist"
}
